body{
  background-color: #9C835F;
  height: 1024px;
}
/* class title rock,paper,scissors */
.title{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #F9B23D;
}
.item_game{
  height:150px;
  width: 150px;
  padding:30px;
  text-align:center;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  vertical-align: middle; 
  margin: 0 auto;   
}
/* div result*/
.result{
  /* height: 150px;
  width: 150px; */
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  vertical-align:middle; 
} 
/* div versus */
.versus{
  font-family:'Open Sans';
  /* font-style: normal; */
  font-weight: 600;
  font-size: 120px;
  text-align: inherit;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ad0e0e;
  margin: 0 auto;   

} 
.result_game{ 
  width: 271.11px;
  height: 166.93px;
  left: 561px;
  top: 489.89px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform:uppercase;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  vertical-align:middle;
  background: #4C9654;
  border-radius: 10px;
  transform: rotate(-28.87deg);
}

.item_game img{
  width: 80px;
}
.item_game.active{
  border-radius: 10px;
  background-color: #C4C4C4;;
}
.top_header{
  display: flex;
  align-items: center;
  vertical-align: middle;
}
.content_result{
  margin:0 auto;
  width: 271.11px;
  height: 166.93px;
  left: 561px;
  top: 489.89px;
  background: #4C9654;
  border-radius: 10px;
  transform: rotate(-28.87deg);
}
.title_player{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #000000;
}